*{
    box-sizing: border-box;
    

    
}
header {
    text-align: center;
    color: white;
    background-color: blue;
}

body {
    
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


h5{
    font-weight: bold;
    color: red;
}
.forecast{
    
    font-size: 0.9em;
}
span{
    font-size: 1em;
}
li:hover{
    background-color: lightslategray;
    text-decoration: underline;
}
